<h2 class="{{title}}">Anubh's Angular {{title}}</h2>

<input type="text"
 name="Name"
 value="{{name}}"
 disabled="{{disabled}}">
<br><br>
<input type="text"
 name="Name" 
 [value]=name
 [disabled]=disabled>

 <hr>

 <!--  <h3 *ngIf="show; else elseBlock">
    Code it again and again.
 </h3> 

 <ng-template #elseBlock> 
    <h3 style="color:blue">Else condition executes</h3>
 </ng-template> -->

 <h3 *ngIf="show==='yes'; then ifBlock else elseBlock"></h3>

 <ng-template #ifBlock>
   <h3>This is IF-condition.</h3>
 </ng-template> 

 <ng-template #elseBlock>
   <h3>This is ELSE-condition</h3>
 </ng-template>

 <ng-template [ngIf]="color==='red'">
   <h2 style="color: red">RED Color</h2>
 </ng-template>
 <ng-template [ngIf]="color==='blue'">
   <h2 style="color: blue">BLUE Color</h2>
 </ng-template>
 <ng-template [ngIf]="color==='green'">
   <h2 style="color: green">GREEN Color</h2>
 </ng-template>
 <ng-template [ngIf]="color==='yellow'">
   <h2 style="color: yellow">YELLOW Color</h2>
 </ng-template>


 <div [ngSwitch]="color">
   <h3 *ngSwitchCase="'red'" style="color: red">Color-RED</h3>
   <h3 *ngSwitchCase="'blue'" style="color: blue">Color-BLUE</h3>
   <h3 *ngSwitchCase="'green'" style="color: green">Color-GREEN</h3>
 </div> 