<app-header></app-header>

<h2>Anubh's Angular {{title}}</h2>

<app-child [item]="data" [item2]="str"></app-child>

<button (click)="updateChild()">Update Child Component</button>

<hr>
<h2>Passing Data Parent to Child</h2>
<ul *ngFor="let user of userDetails">
   <app-user-details [item]="user"></app-user-details>
</ul>

<hr>
<h2>Passing Data Child to Parent</h2>
<h2>Input given str- {{str}}</h2>
<app-child2 (updateDataEvent)="updateData($event)"></app-child2>

<hr>

<h2>2-Way Binding</h2>
<input type="text" [(ngModel)]="name">

<h3>{{name}}</h3>